[submodule ".registry"]
	path = .registry
	url = https://github.com/danilocvieira/danilocvieira.r-universe.dev
	branch = HEAD
[submodule "shiny"]
	path = shiny
	url = https://github.com/rstudio/shiny
[submodule "testthat"]
	path = testthat
	url = https://github.com/r-lib/testthat
	registered = false
[submodule "vegan"]
	path = vegan
	url = https://github.com/vegandevs/vegan
